.wrapper {
  background: #05061e;
  width: 256px;
  z-index: 10;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.menuList {
  position: absolute;
  top: 85px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 85px - 115px);
  overflow: auto;
}

.menuItem {
  font-size: 14px;
  margin: 4px 0px;
}

.menuItem:not(:hover):not(.active) {
  opacity: 0.5;
  filter: grayscale(100%);
}

.menuItem.active .textMenu {
  background: linear-gradient(108.78deg, #1539fb, #c1a4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menuItemDropdown>.menuItem {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px;
  padding: 13.5px 15px;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  border-radius: 12px;
}

.menuItemDropdown {
  background: #010308;
  border-radius: 12px;
}

.menuItemDropdown {
  height: 51px;
  overflow: hidden;
  transition: height .3s linear;
}

.menuItemDropdown.active {
  height: var(--height);
  overflow: hidden;
}

.menuItemDropdown>.menuItem {
  opacity: 1;
  background: #181e40;
}

.menuItemDropdown .iconDropdown {
  transition: all .3s linear;
}

.menuItemDropdown.active .iconDropdown {
  transform: rotate(180deg);
}

.menuItemSingle .menuLink {
  padding: 13.5px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.menuItemSingle.active {
  opacity: 1;
  background: #181e40;
  border-radius: 12px;
}

.menuItem:hover {
  opacity: 1;
  background: #181e40;
  border-radius: 12px;
}

.icon {}

.textMenu {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuListDropdown {}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0.5;
}

.support:hover {
  opacity: 1;
}

.iconSupport svg * {
  fill: #f00000;
  opacity: 1;
}

.support span {
  color: #f00000;
  font-size: 14px;
}

.wrapLogo {
  padding: 10px 3px 10px 15px;
  box-sizing: border-box;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  width: 100%;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 38px;
  width: 38px;
}

.logo svg {
  height: 100%;
  width: 100%;
}

.openMenu {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .wrapper {
    width: 100vw;
    left: -100vw;
    transition: all .3s linear;
  }

  .wrapper.active {
    left: 0;
  }

  .container {
    max-width: 350px;
    width: 100%;
    margin: auto;
  }

  .openMenu {
    display: block;
    position: absolute;
    left: 100%;
    top: 15px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    border-left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapLogo {
    border: 1px solid rgba(164, 173, 255, .26);
    background: rgba(0, 0, 0, .3);
    padding: 10px 3px 10px 15px;
    box-sizing: border-box;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    max-width: 320px;
    width: 100%;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}