.wrapper {
  position: relative;
  background: #fff;
}

.bgSectionWave {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1265px;
  margin: auto;
  width: 100%;
  padding: 75px 20px;
  box-sizing: border-box;
  gap: 24px;
  z-index: 2;
  position: relative;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-main-2);
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-main);
}

.titleService {
  color: var(--color-main-2);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.descriptionService {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

/* 128 × 116 */
.iconService {
  margin: auto;
  height: 93px;
  width: calc(93px * 1.10344);
  margin-bottom: 20px;
}

.imgIconService {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btnRegisterAdvise {
  border: 1px solid #058557;
  border-radius: 40px;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #058557;
  text-decoration: none;
  transition: 0.5s all ease;
  position: relative;
  display: inline-block;
}

.btnRegisterAdvise:hover {
  background-color: #058557;
  color: #fff;
}

@media (max-width: 639px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 410px) {

  .container {
    column-gap: 10px;
  }

  .title {
    font-size: 32px;
  }
}