.wrapper {
  background: url('/images/page-home/webp/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: honeydew;
}

.itemProject {
  min-height: 250px;
  background: #fff;
}

.imgProject {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .wrapImgProject {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .wrapImgProject {
    min-height: 250px;
    height: 100%;
  }
}