.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.bannerImg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bannerWave {
  position: absolute;
  width: 110%;
  object-fit: cover;
  bottom: -2px;
  z-index: 2;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.slogan {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}

.title {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}

.description {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: inherit;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}

@media (max-width: 991px) {
  .title {
    font-size: 32px;
    text-align: left;
  }

  .description {
    font-size: 16px;
    text-align: left;
  }
}