.wrapper {
  box-sizing: border-box;
  background: #fff;
}

.container {
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

@media (max-width: 991px) {
  .wrapper {
    padding-left: 0px;
  }
}