.logo {
  filter: drop-shadow(rgba(255, 255, 255, .6) -3px 0px 3px) drop-shadow(rgba(255, 255, 255, .6) -3px 3px 3px) drop-shadow(rgba(255, 255, 255, .6) 3px 3px 3px) drop-shadow(rgba(255, 255, 255, .6) 3px -3px 3px);
}

.mainText {
  font-family: BacasimeAntique;
  font-size: 126px;
  font-weight: 200;
  line-height: .7;
  letter-spacing: 10px;
}

.viewDatePerson {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.5px);
}

.iconDatePerson * {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

.textDatePerson {
  transform: translateY(2px);
}

.lineName {
  height: 2px;
  width: 100%;
  background: #fff;
  margin: 5px 0px 10px;
}

@media (max-width: 639px) {
  .viewDatePerson {
    text-align: center;
    justify-content: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.5px);
  }

  .iconDatePerson {
    display: none;
  }
}

@media (max-width: 639px) {
  .viewDatePerson {
    display: grid;
    gap: 10px;
    width: 90%;
  }
}