.wrapper {
  color: #000;
}

.selectOption {
  /*  */
}

.inputFilter {
  height: 38px;
}

.btnAddroom {
  background: var(--color-main);
  padding: 5px 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 7px;
  opacity: .7;
}

.btnAddroom:hover {
  opacity: 1;
}