.wrapper {
  background: url('/images/footer/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 130px;
  filter: drop-shadow(rgba(255, 255, 255, .6) -3px 0px 3px) drop-shadow(rgba(255, 255, 255, .6) -3px 3px 3px) drop-shadow(rgba(255, 255, 255, .6) 3px 3px 3px) drop-shadow(rgba(255, 255, 255, .6) 3px -3px 3px);
  margin: auto;
}

.icon {
  width: 70px;
  margin: auto;
  margin-bottom: 20px;
}